<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <style>
      html {
        background-color : black;
        color : white;
        font-family : Courier;
      }
    </style>
  </head>
  
  
  <body>
  <h1>Bitlink</h1>
    
      This URL shortener clone takes a URL as a parameter and returns a short code.  Once generated, this code (along with the intial bitlink.glitch.me URL) 
      can be used to reroute to the initial URL provided. <br><br>
    
      Example: <br> 
      URL = https://www.reddit.com/r/WaterGuy12/comments/6tmcif/commence_the_first_raid_upon_rfireguy12/?st=j6cfo0ce&sh=998cd4cd <br>
      Bitlink URL = https://bitlink.glitch.me/877676
    
  
  
  </body>
</html>
